.footer {
    background-color: #000;
    color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, sans-serif;
  }
  
  .footer-section {
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    min-width: 200px;
  }
  
  .footer-section h3 {
    color: #7e7e7e;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .search-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
  }

  .location-btn {
    /* background-color: #007bff; */
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: white;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }  